@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';
@import '../../styles/utils/breakpoints';

.learningModule {
    &__header {
        text-align: center;
        @media only screen and (max-width: $mobile) {
            display: none;
        }
    }

    &__title {
        margin: 25px 10px;
        color: $morning-sky;
        font-weight: 600;
        font-size: 1.5em;
    }

    &__subHeader{
        @include subheader;
        min-height: 42px;
    }
  
    &__answerArea {
        background-color: white;
        box-shadow: 0px 0px 20px -15px;
        padding: 0px 0px 20px 0;
        border-radius: 10px;
        display: grid;
        justify-content: center;

        @media only screen and (max-width: $tablet) {
            height: auto;
            width: auto;
            border-radius: unset;
            box-shadow: 0px 0px 20px -15px;
            padding: 0px 0px 20px 0;
            border-radius: 10px;
            display: grid;
            justify-content: center;
        }

        @media only screen and (max-width: $mobile) {
            box-shadow: none;

        }

    }

    &__selections{ 
        padding: 30px 0;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;

        @media only screen and (max-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: left;
        }
    }

    &__submitButtonContainer {
        height: 50px;
        .submitButton {
            float: right;
        }

        @media only screen and (max-width: $tablet) {
            position: relative;
            

            .submitButton {
                margin: 0;
                position: absolute;
                
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                border-radius: 10px;
            }
        }
    }
}
